

main {
  padding: 1rem;
}

.estadoclinico-container{
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.estadoclinico-container .evaluacionclinica-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.estadoclinico-container .evaluacionclinica-container progress{
  background-color: red;
  border: solid red;
  position: absolute;
  height: 2rem;
  width: 20rem;
  border-radius: 4rem;
}

.estadoclinico-container .evaluacionclinica-container span{
  position: relative;
}






.variables-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: 0.6rem;
}

select {
  border: solid 1rem var(border);
  color: red;
  border-radius: 0.2rem;
  font-size: 0.6rem;
  width: 10rem;
}